.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 80px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  gap: 15px;
  z-index: 1000;
  border-left: 1px solid #e0e0e0;
}

.addThreadButton {
  background: #9fe165;
  color: black;
  padding: 4px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.addThreadButton:hover {
  background: #8fd155;
}

.addThreadButton:active {
  background: #7fc145;
}

.archivedButton {
  background: #e0e0e0;
  color: black;
  padding: 4px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.archivedButton:hover {
  background: #d0d0d0;
}

.archivedButton:active {
  background: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  .archivedButton {
    background: #333333;
    color: #ededed;
  }

  .archivedButton:hover {
    background: #444444;
  }

  .archivedButton:active {
    background: #555555;
  }
}
